html{
    height: 100vh;
}
body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-image: linear-gradient(black,snow);
}
.container-column{
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column; 
}
.OptionHolder{
    background-color: gray;
    padding: 20px;
}
.container-row{
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: row; 
}
.Arrows-Left li{
    list-style-type: none;
    list-style-image: url();
}
.Arrows-Right li{
    list-style-type: none;
    list-style-image: url();
}
.Main-Container{
    height: 100vh;
}
.character{
    width: 50px;
}
.red{
    background-color: red;
    width: 25px;
    height: 25px;
}
.green{
    background-color: green;
    width: 25px;
    height: 25px;
}
.blue{
    background-color: blue;
    width: 25px;
    height: 25px;
}
