.FlexAlignments{
    display: flex;
    align-items: center;
    justify-content: center;
}

.SpaceBetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    background-color: gray;
    flex-direction: column;
}
#Selected_Color {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
}
#Drawing_Container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.color{
    width: 25px;
    height: 25px;
}
#Colors {
    width: 325px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
canvas{
    background-color: white;
    position: absolute;
}
#room_maker{
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: rgba(120, 120, 120, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: roll-down 1s cubic-bezier(0.55, 0.01, 0.45, 1.38) 1s alternate both ;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* cubic-bezier(0.55, 0.01, 0.45, 1.38) */

}
@keyframes roll-down {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-300px);
    }
}
#Tools{
    grid-area: tools;
    width: 100%;
}
#Pen {
    background: url('../img/pen.gif');
    width: 24px;
    height: 24px;
}
#Trash {
    background: url('../img/clear.gif');
    width: 48px;
    height: 48px;
}
#Main-Area{
    position: relative;
    background-color: snow;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    grid-area: main;
    width: 600px;
    height: 400px;
}
#Chat{
    width: 300px;
    height: 400px;
    background-color: gray;
    /* The order matters, first hidden, then scroll and not reverse */
    overflow: hidden;
    overflow-y: scroll;
}
#Chat-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}
.message{
    text-align: left;
    color:black;
    margin: 5px 10px 5px 10px;
    width: 100%;
}
.message .text {
    width: 100px;
}
.You{
    color:cyan;
    font-weight: bold;
}

.Normal{
    background-color: gray;
}
.Normal .user{
    font-weight: bold;
    color:black;
}
.Normal .text{
    color:black;
}

.Guessed{
    background-color: lightgreen;
}
.Guessed .user{
    font-weight: bold;
    color:green;
}
.Right .text span {
    color: lightgreen;
    font-weight: bold;
}
.Right .user {
    color: lightgreen;
}
.Guessed .text{
    color:green;
}
.guessedIt {
    background-color: lightgreen;
}
.Drawing .text{
    color: lightskyblue;
}
.Drawing .text span {
    font-weight: bold;
}

.Leave{
    background-color: gray;
}
/* .Leave .user{
    font-weight: bold;
    color:darkred;
} */
.Leave .text{
    color:darkred;
}

.Join{
    background-color: gray;
}
/* .Join .user{
    font-weight: bold;
    color:lightgreen;
} */
.Join .text{
    color:lightgreen;
}

.Close{
    background-color: gray;
}
/* .Close .user{
    font-weight: bold;
    color:gold;
} */
.Close .text{
    color:gold;
}

.Close .text span {
    font-weight: bold;
}
.player-data p{
    margin: 0px 5px 0px 5px;
}
.player_container {
    width: 100%;
}
html{
    height: 100vh;
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url('../img/background.png');
    background-repeat: repeat;
}
.container-column{
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column; 
}
.OptionHolder{
    background-color: gray;
    padding: 20px;
}
.container-row{
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: row; 
}
.Arrows-Left div{
    width: 17px;
    height: 17px;
    background: url('../img/arrow.gif') 0 0;
}
.Arrows-Left div:hover{
    background-position: 17px 0;
}
.Arrows-Right div{
    width: 17px;
    height: 17px;
    background: url('../img/arrow.gif') 0 17px;
}
.Arrows-Right div:hover{
    background-position: 17px 17px;
}
.Main-Container{
    height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-areas: 'header header header''left-panel main right-panel''. tools .';
}
#left-panel {
    grid-area: left-panel;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}
#right-panel{
    grid-area: right-panel;
    width: 100%;
    height: 100%;
}
.character{
    width: 50px;
}
.avatar {
    position: relative;
    width: 48px;
    height: 48px;
}
.Player_Info{
    background-color: white;
    width: 100%;
}
.body{
    position: absolute;
    width: 48px;
    height: 48px;
    background: url('../img/color_atlas.gif') 0 0;
}
.eye{
    position: absolute;
    width: 48px;
    height: 48px;
    background: url('../img/eyes_atlas.gif') 0 0;
}
.mouth{
    position: absolute;
    width: 48px;
    height: 48px;
    background: url('../img/mouth_atlas.gif') 0 0;
}
#lobby_avatar{
    width: 48px;
}
.pen {
    width: 24px;
    height: 24px;
    background: url('../img/how.gif');
}
#Settings{
    width: 32px;
    height: 32px;
    background: url('../img/settings.gif');
}
#header {
    width: 90vw;
    background-color: snow;
    border: solid 1px gray;
    border-radius: 25px;
    grid-area: header;
}
