.FlexAlignments{
    display: flex;
    align-items: center;
    justify-content: center;
}

.SpaceBetween{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body{
    background-color: gray;
    flex-direction: column;
}
canvas{
    background-color: snow;
    margin: 0;
    padding: 0;
}
#Tools{
    width: 100%;
    height: 50px;
    border: solid 1px darkgray;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-around;
}
#Main-Area{
    background-color: red;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}
.Side_Panel{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Chat{
    width: 300px;
    height: 400px;
    background-color: gray;
    overflow-y: scroll;
    overflow: hidden;
}
.message{
    text-align: left;
    color:black;
    margin: 5px 10px 5px 10px;
}
.You{
    color:cyan;
    font-weight: bold;
}

.Normal{
    background-color: gray;
}
.Normal .user{
    font-weight: bold;
    color:black;
}
.Normal .text{
    color:black;
}

.Guessed{
    background-color: lightgreen;
}
.Guessed .user{
    font-weight: bold;
    color:green;
}
.Guessed .text{
    color:green;
}

.Leave{
    background-color: gray;
}
.Leave .user{
    font-weight: bold;
    color:darkred;
}
.Leave .text{
    color:darkred;
}

.Join{
    background-color: gray;
}
.Join .user{
    font-weight: bold;
    color:lightgreen;
}
.Join .text{
    color:lightgreen;
}

.Close{
    background-color: gray;
}
.Close .user{
    font-weight: bold;
    color:gold;
}
.Close .text{
    color:gold;
}

.Close .text span {
    font-weight: bold;
}
.player-data p{
    margin: 0px 5px 0px 5px;

}
html{
    height: 100vh;
}
body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-image: linear-gradient(black,snow);
    background-image: url('../img/background.png');
    background-repeat: repeat;
}
.container-column{
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column; 
}
.OptionHolder{
    background-color: gray;
    padding: 20px;
}
.container-row{
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: row; 
}
.Arrows-Left div{
    width: 17px;
    height: 17px;
    background: url('../img/arrow.gif') 0 0;
}
.Arrows-Left div:hover{
    background-position: 17px 0;
}
.Arrows-Right div{
    width: 17px;
    height: 17px;
    background: url('../img/arrow.gif') 0 17px;
}
.Arrows-Right div:hover{
    background-position: 17px 17px;
}
.Main-Container{
    height: 100vh;
}
.character{
    width: 50px;
}
.red{
    background-color: red;
    width: 25px;
    height: 25px;
}
.green{
    background-color: green;
    width: 25px;
    height: 25px;
}
.blue{
    background-color: blue;
    width: 25px;
    height: 25px;
}
.avatar {
    position: relative;
    width: 48px;
    height: 48px;
}
.body{
    position: absolute;
    width: 48px;
    height: 48px;
    background: url('../img/color_atlas.gif') 0 0;
}
.eye{
    position: absolute;
    width: 48px;
    height: 48px;
    background: url('../img/eyes_atlas.gif') 0 0;
}
.mouth{
    position: absolute;
    width: 48px;
    height: 48px;
    background: url('../img/mouth_atlas.gif') 0 0;
}
#lobby_avatar{
    width: 48px;
}
.pen {
    width: 24px;
    height: 24px;
    background: url('../img/how.gif');
}