.FlexAlignments{
    display: flex;
    align-items: center;
    justify-content: center;
}

.SpaceBetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    background-color: gray;
    flex-direction: column;
}
canvas{
    background-color: snow;
    margin: 0;
    padding: 0;
}
#Tools{
    width: 100%;
    height: 50px;
    border: solid 1px darkgray;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-around;
}
#Main-Area{
    background-color: red;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}
.Side_Panel{
    background-color: red;
}
#Chat{
    width: 300px;
    height: 400px;
    background-color: gray;
}
.message{
    text-align: left;
    color:black;
    margin: 5px 10px 5px 10px;
}
.You{
    color:cyan;
    font-weight: bold;
}

.Normal{
    background-color: gray;
}
.Normal .user{
    font-weight: bold;
    color:black;
}
.Normal .text{
    color:black;
}

.Guessed{
    background-color: lightgreen;
}
.Guessed .user{
    font-weight: bold;
    color:green;
}
.Guessed .text{
    color:green;
}

.Leave{
    background-color: gray;
}
.Leave .user{
    font-weight: bold;
    color:darkred;
}
.Leave .text{
    color:darkred;
}

.Join{
    background-color: gray;
}
.Join .user{
    font-weight: bold;
    color:lightgreen;
}
.Join .text{
    color:lightgreen;
}

.Close{
    background-color: gray;
}
.Close .user{
    font-weight: bold;
    color:lightgreen;
}
.Close .text{
    color:lightgreen;
}

.Close .text span {
    font-weight: bold;
}